// Overriding Typography
body {
  color: $text;
  font-family: $sans-serif;
  font-feature-settings: 'kern', 'liga', 'pnum';
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-family: $sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

pre {
  margin: 0 0 $small-spacing;
}

a {
  color: shade($accent, 25%);
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($accent, 35%);
  }
}

hr {
  border: 0;
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

table {
  border-collapse: collapse;
  font-feature-settings: 'kern', 'liga', 'tnum';
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade($light, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: 1px solid $light;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}

fieldset {
  background-color: shade($light, 25%);
  border: 1px solid $light;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $sans-serif;
  font-size: $base-font-size;
}

label {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: '*';
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple] {
  background-color: $light;
  border: 1px solid $light;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($light, 20%);
  }

  &:focus {
    border-color: $accent;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($light, 5%);
    cursor: not-allowed;

    &:hover {
      border: 1px solid $light;
    }
  }
}

textarea {
  resize: vertical;
}

input[type='search'] {
  appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type='file'] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

// Site
.site-wrapper {
  @include outer-container(100%);
}

.site-nav {
  @include fill-parent();
  background-color: $dark;
  border-bottom: 1px solid $dark;
}

.site-main {
  @include fill-parent();
  background-color: $light;
  min-height: 100vh;
  position: relative;
}

.site-footer {
  @include fill-parent();
  background-color: $dark;
  border-top: 1px solid $light;
  clear: both;
  height: em(40);
  position: relative;
}
