$dark: #324766; //rgba(50, 71, 102, 100)
$light: #dcdcdc; //rgba(220, 220, 220, 100)
$accent: #b8d8ba; //rgba(184, 216, 186, 100)
$text: #272932; //rgba(39, 41, 50, 100)

$white: #fff !default;
$dark-gray: #333 !default;
$light-gray: #ddd !default;
