@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
$sans-serif: 'Droid Sans', sans-serif;
$sans-serif-mono: 'Droid Sans Mono', monospace;
$serif: 'Droid Serif', serif;
