@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat-helpers';
@import '../bower_components/neat/app/assets/stylesheets/neat';

$max-width: em(1240);
$border-box-sizing: true !global;

$mobile-size:em(414);
$desktop-size:em(1088);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(max-device-width $mobile-size 4);
$desktop: new-breakpoint(min-width $desktop-size 12);
