@import 'fonts';
@import 'settings';

// Typography
$base-font-family: $sans-serif;
$heading-font-family: $serif;

// Font Sizes
$base-font-size: 1rem !default;

// Line height
$base-line-height: 1.5 !default;
$heading-line-height: 1.2 !default;

// Other Sizes
$base-border-radius: em(3) !default;
$base-spacing: $base-line-height * 1em !default;
$small-spacing: $base-spacing / 2 !default;
$base-z-index: 0;

// Colors
$dark: #324766; //rgba(50, 71, 102, 100)
$light: #dcdcdc; //rgba(220, 220, 220, 100)
$accent: #b8d8ba; //rgba(184, 216, 186, 100)
$text: #272932; //rgba(39, 41, 50, 100)

$white: #fff !default;
$dark-gray: #333 !default;
$light-gray: #ddd !default;

// Font Colors
$base-background-color: $white;
$base-font-color: $text;
$action-color: $accent;

// Border
$base-border-color: $light;
$base-border: 1px solid $base-border-color;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -.3);
