<nav>
    <ul>
        {{#foreach navigation}}
        <li class="nav-{{slug}} nav-item{{#if current}} nav-current{{/if}}">
          <h2><a href="{{url absolute="true"}}">{{label}}</a></h2>
        </li>
        {{/foreach}}
    </ul>
</nav>
