<div id="footer-content">
  <div class="footer-copyright">
    <span class="footer-copyright-text">&copy; Samuel Dost</span>
    <span class="footer-copyright-separator">&nbsp;|&nbsp;</span>
    <span class="footer-copyright-text">Hosted by DigitalOcean</span>
  </div>
</div>
