@include media($mobile) {
  $base-border-radius: em(10);
  $base-font-size: 2rem;

  $card-image-height: em(250);
  $card-content-min-height: em(200);
  $card-margin: 2.4em;

  .cards {
    @include display(flex);
    @include flex-flow(column no-wrap);
  }

  .cards-header {
    img {
      height: em(200);
      width: em(200);
    }

    h1 {
      font-size: $base-font-size * 1.2;
    }

    h2 {
      font-size: $base-font-size;
    }
  }

  .card {
    @include flex(auto);
    border-radius: $base-border-radius;
    margin: $card-margin * 1.1 $card-margin;
    width: 100%;

    &.featured {
      @include flex(auto);
      @include order(1);
    }
  }

  .card-img-container {
    .card-img {
      @include border-top-radius($base-border-radius);
      height: $card-image-height;
    }
  }

  .card-content {
    @include border-bottom-radius($base-border-radius);
    min-height: $card-content-min-height;

    h1 {
      font-size: $base-font-size * 3;
    }
  }

  .meta-author img {
    height: em(120);
    top: em(-60);
    width: em(120);
  }

  .card-meta span {
    font-size: $base-font-size;
  }

  .post-title h1 {
    font-size: $base-font-size * 3;
    line-height: $heading-line-height * 1.1;
  }

  .post-byline h2 {
    font-size: $base-font-size * 1.2;
    line-height: $heading-line-height;
  }

  .post-author-img img {
    bottom: em(-60);
    height: em(120);
    width: em(120);
  }

  .post-body {
    border-radius: $base-border-radius;
  }

  .page-title {
    h1 {
      font-size: $base-font-size * 3.125;
      line-height: $heading-line-height;
    }
  }

  article {
    h1 {
      font-size: $base-font-size * 2;
    }

    h2 {
      font-size: $base-font-size * 1.5;
    }

    h3 {
      font-size: $base-font-size * 1.17;
    }

    h4 {
      font-size: $base-font-size;
    }

    h5 {
      font-size: $base-font-size * .83;
    }

    h6 {
      font-size: $base-font-size * .67;
    }

    p {
      font-size: $base-font-size;
    }

    code {
      border-radius: $base-border-radius * 1.5;
      font-family: $sans-serif-mono;
      font-size: $base-font-size * 1.2;
    }

    blockquote {
      border-radius: $base-border-radius * 1.5;

      &:before {
        font-size: $base-font-size * 4;
      }

      &:after {
        font-size: $base-font-size * 4;
      }
    }

    ul {
      font-size: $base-font-size;
    }

    ol {
      font-size: $base-font-size;
    }
  }

  .menu {
    height: em(100);
  }

  .menu-button {
    @include span-columns(1);
    display: block;
    height: em(80);
    position: absolute;
    right: em(5);
    top: em(10);
    width: em(80);
  }

  .menu-logo {
    @include span-columns(1);
    display: block;
    left: em(10);
    position: absolute;
    top: em(5);

    img {
      height: em(90);
      left: 0;
      opacity: .9;
      top: 0;
      width: em(90);
    }
  }

  .menu-nav {
    @include clearfix;
    display: none;
    position: absolute;
    top: em(98);
    width: 100%;

    nav ul {
      @include display(flex);
      @include flex-flow(column);
      @include align-items(center);
      @include size(100% auto);
    }
  }

  .nav-item {
    background-color: $base-color;
    border: 1px solid darken($base-color, 1%);
    display: block;
    margin: 0;
    padding: $small-spacing 0;
    position: relative;
    width: 100%;
    z-index: 2;

    h2 {
      font-size: $base-font-size * 2.5;
      text-align: center;
    }
  }

  .menu-search {
    @include span-columns(1);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include size(auto 100%);
    margin-left: $base-spacing * 8;
    margin-right: $base-spacing * 8;

    input {
      border-radius: $base-border-radius * 1.5;
      line-height: $base-line-height * 2;
    }

    .search-icon {
      font-size: $base-font-size;
      top: em(8);
    }
  }

  .site-main {
    min-height: 100vh;
  }

  .site-footer {
    clear: both;
    height: em(100);
    position: relative;
  }

  .footer-copyright span {
    font-size: $base-font-size;
  }
}
