.page-content {
  display: block;
  margin-left: $base-spacing;
  margin-right: $base-spacing;
}

.page-body {
  box-sizing: content-box;
  margin: $base-spacing auto;
  padding: $base-spacing;
  width: em(975);
}
