$pagination-margin: em(24) !default;

.pagination {
  margin: 0 $pagination-margin;
  max-width: $max-width;
  padding: $base-spacing em(24);
  position: relative;
  width: 100%;
}

.newer-posts {
  border: 1px solid $menu-item-color;
  border-radius: 2px;
  color: $menu-item-color;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  left: 0px;
  line-height: 34px;
  padding: 0 20px;
  position: absolute;
  top: 0px;
}

.older-posts {
  border: 1px solid $menu-item-color;
  border-radius: 2px;
  color: $menu-item-color;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  position: absolute;
  padding: 0 20px;
  right: 0px;
  top: 0px;
}
