.pagination {
  @include display(flex);
  @include fill-parent();
  @include flex-direction(column);
  margin: 0 auto;
  max-width: $max-width;
  padding: $base-spacing em(24);
}

.newer-posts {
  align-self: flex-start;
}

.older-posts {
  align-self: flex-end;
}
