$post-title-max-width: 1100px !default;
$post-title-margin: 0 auto !default;
$post-title-padding: 20% 15px !default;

$post-title-shadow: -.06em .06em .02em rgba($shadow-color, .5);
$post-byline-shadow: -.04em .04em .02em rgba($shadow-color, .5);

$post-author-img-border: .3em solid $base-background-color;

.post-header {
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
}

.post-title {
  margin: $post-title-margin;
  max-width: $post-title-max-width;
  padding: $post-title-padding;
  text-align: center;
  z-index: 1;

  h1 {
    color: lighten($highlight-color, 10%);
    font-family: $sans-serif;
    font-size: $base-font-size * 5;
    font-weight: 700;
    line-height: $heading-line-height * 1.5;
    margin-bottom: 25px;
    text-shadow: $post-title-shadow;
    text-transform: uppercase;
  }
}

.post-byline h2 {
  color: lighten($highlight-color, 10%);
  font-family: $serif;
  font-size: $base-font-size * 1.2;
  font-style: italic;
  font-weight: 700;
  line-height: $heading-line-height * 1.1;
  text-shadow: $post-byline-shadow;
}

.post-author-img img {
  background: $base-background-color;
  border: $post-author-img-border;
  border-radius: 50%;
  bottom: em(-40);
  height: em(80);
  position: absolute;
  right: em(15);
  width: em(80);
}

.post-content {
  display: block;
  margin-left: $base-spacing;
  margin-right: $base-spacing;
}

.post-body {
  box-sizing: content-box;
  margin: $base-spacing 20%;
  padding: $base-spacing;
}

.post-comments {
  margin-left: $base-spacing;
  margin-right: $base-spacing;
  padding: $base-spacing;
}
