// Site
body {
  margin: 0;
}

.site-wrapper {
  @include outer-container(100%);
}

.site-nav {
  @include fill-parent();
  background-color: $base-color;
  box-sizing: border-box;
}

.site-main {
  @include fill-parent();
  background-color: $base-background-color;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
}

.site-footer {
  @include fill-parent();
  background-color: $base-color;
  border-top: .06em solid darken($base-background-color, 10%);
  box-sizing: border-box;
  clear: both;
  height: em(30);
  position: relative;
}
