{{!
< default}} <div class="site-content">
  {{#primary_author}}
  <div class="cards-header">
    {{#if profile_image}}
    <img class="cards-header-img" src="{{img_url profile_image}}" height="120" width="120" /> {{else}}
    <img class="cards-header-img" src="http://lorempixel.com/g/120/120/people" height="120" width="120" /> {{/if}}
    <h1 class="cards-header-title">Posts by {{name}}</h1>
  </div>
  {{/primary_author}}
  <div class="conatiner cards">
    {{#foreach posts}} {{> card}} {{/foreach}}
  </div>

  {{pagination}}
  </div>