@include mobile {
  .site-body {
    font-size: 11px;
  }

  .cards {
    display: flex;
    flex-flow: column no-wrap;
  }

  .card {
    flex: auto;
    border-radius: $base-border-radius;
    margin: 0 $card-margin $card-margin;
    width: 100%;
  }

  .card-content {
    padding-top: $base-spacing * 1.5;
  }

  .meta-author-img {
    height: 60px;
    top: -30px;
    width: 60px;
    right: 5px;
  }

  .post-title-header {
    font-size: $base-font-size * 2;
    line-height: $heading-line-height * 1.1;
  }

  .post-byline {
    font-size: $base-font-size;
    line-height: $heading-line-height;
  }

  .post-author-img {
    bottom: -30px;
    height: 60px;
    width: 60px;
    right: 5px;
    border-width: 3px;
  }

  .post-half-circle {
    border-bottom: 0;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    bottom: -9px;
    height: 31px;
    right: 5px;
    width: 60px;
  }

  .menu-nav {
    @include clearfix;

    display: none;
    position: absolute;
    top: 98px;
    width: 100%;
  }

  .nav-items {
    padding: 10px 0;
    text-align: center;
  }

  .nav-item {
    padding: 0 10px;
  }

  .nav-item-title {
    font-size: $base-font-size * 0.825;
  }

  .site-main {
    min-height: 100vh;
  }

  .pagination {
    padding-bottom: $base-spacing * 2;
  }

  .newer-posts,
  .older-posts {
    padding: 0 10px;
  }
}
