{{!< default}}
<div class="site-content">
  <div class="cards-header">
    <h1>Articles tagged "{{tag.name}}"</h1>
    {{#if tag.description}}
      <h2>{{tag.description}}</h2>
    {{/if}}
  </div>
  <div class="cards">
  {{#foreach posts}}
    {{> card}}
  {{/foreach}}
  </div>

  {{pagination}}
</div>
